
#activity_feeds{

}

.activityfeed_text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

}

.activityfeeds_date {
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	font-size:11px;
}
.content p.afp {
	margin-top:-6px;
	margin-bottom:6px;
}
